node_modules/
dist/
.env
.DS_Store
*.log
.idea/
.vscode/
frontend/dist/
backend/__pycache__/
backend/.venv/
backend/**/*.pyc
coverage/
.pytest_cache/
*.class
backend/db.sqlite3
backend/db.sqlite3-journal
frontend/coverage/
.vitest-cache/
